/* font-family: "degular", sans-serif; */
.header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	position: fixed;
	left: 25px;
	top: 25px;
	right: 25px;
	z-index: 9999;
}

.logoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	text-decoration: none;
	color: black;
}

.logoImg {
	z-index: 41;
	position: relative;
}

.whiteBackground {
	z-index: -1;
	background-color: #eee;
	height: 56px;
	width: 78px;
	position: absolute;
	right: 48px;
}

.logoImg > img {
	height: 56px;
	width: auto;
	cursor: pointer;
	z-index: 41;
}

.logoText {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: 'fractul-variable', sans-serif;
	font-variation-settings: 'wght' 100;
	cursor: pointer;
	z-index: 39;
}

.logoText > span {
	font-variation-settings: 'wght' 900;
}

.contactUs {
	font-size: 24px;
	font-family: 'coolvetica', sans-serif !important;
	font-weight: 200;
	font-style: normal;
	cursor: pointer;
	position: relative;
}

.contactUs:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom center;
	background: #f874ff6e;
	z-index: -1;
	transition: transform 0.3s;
}

.contactUs:hover::after {
	transform: scaleY(1);
}

.mobileMenu {
	display: none;
}

.mobileHeader {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(249, 191, 229, 0);
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100px;
	z-index: 7777;
	transition: background-color 0.5s;
}

@media only screen and (max-width: 1080px) {
	.header {
		align-items: center;
	}
	.contactUs {
		display: none;
	}
	.mobileMenu {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.logoText {
		display: none;
	}

	.logoImg img {
		height: 48px;
		width: auto;
	}

	.whiteBackground {
		display: none !important;
	}

	/* .mobileMenu {
		transform: translateY(4px);
	} */
}
