.stats {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 72px 0 48px;
}

.innerStats {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-image: url('https://brenzystudios.com/assets/stats.png');
	background-repeat: no-repeat;
	width: 950px;
	height: calc(0.385 * 950px);
	border-radius: 30px;
	z-index: 10;
}

.statContainer {
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stat {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.statHeader {
	font-family: 'coolvetica', sans-serif;
	font-size: 28.8px;
	font-weight: 500;
}

.statText {
	font-family: 'coolvetica', sans-serif;
	font-size: 60px;
	font-weight: 700;
	position: relative;
}

.statText > span {
	font-size: 36px;
}

.statText::after {
	content: '+';
	position: absolute;
	bottom: 0;
	right: -36px;
}

@media only screen and (max-width: 1296px) {
	.innerStats {
		grid-template-columns: 1fr;
		width: auto;
		height: auto;
		padding: 32px 100px;
		gap: 24px;
	}
}

@media only screen and (max-width: 576px) {
	.stats {
		padding: 0 0 48px;
	}
	.innerStats {
		padding: 32px 64px;
	}
	.statHeader {
		font-size: 24px;
	}
	.statText {
		font-size: 48px;
	}

	.statText > span {
		font-size: 30px;
	}
}
