.works {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	gap: 24px;
}

.header {
	font-size: 41px;
	font-family: 'coolvetica', sans-serif;
	font-weight: 200;
	text-align: center;
}

/* .innerWorks {
	position: relative;
	display: flex;
	transition: transform 0.5s ease-in-out;
	max-width: 950px;
} */

.innerWorks {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden; /* İçerideki elemanların dışına taşmasını önlemek için */
	background-color: #fff;
	border-radius: 30px;
	max-width: 950px;
	padding: 47.75px;
}

.videoSlider {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 47.75px;
}

.videoContainer {
	border-radius: 12px;
	position: relative;
	transition: 0.2s all;
}

.videoContainer video {
	border-radius: 12px;
	height: 450px;
	width: auto;
	cursor: pointer;
}

.videoContainer:hover {
	transform: scale(1.025);
	box-shadow: 0px 0px 34.79px 14.21px rgba(0, 0, 0, 0.15);
}

.worksHeader {
	position: absolute;
	top: 10px;
	left: 50%;
	display: inline-block;
	padding-bottom: 1px; /*the space for the gradient*/
	background: linear-gradient(#000, #000) center bottom; /*OR bottom right OR bottom left*/
	background-size: 0% 1px; /*width:0% height:2px*/
	transform: translate(-50%, 0);
	background-repeat: no-repeat; /* Don't repeat !!*/
	transition: all 0.45s;
}

.worksHeader:hover {
	background-size: 100% 1px; /*width:100% height:2px*/
}

.worksHeader > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-family: 'coolvetica', sans-serif;
	font-weight: 200;
	font-size: 24px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.worksHeader > a > img {
	height: 24px;
	width: auto;
}

.sliderArrowLeft {
	position: absolute;
	left: 10px;
	cursor: pointer;
	transition: 0.2s all;
}

.sliderArrowLeft:hover {
	transform: translateX(-3px);
}

.sliderArrowRight {
	position: absolute;
	right: 10px;
	cursor: pointer;
	transition: 0.2s all;
}

.sliderArrowRight:hover {
	transform: translateX(3px);
}

@media only screen and (max-width: 1296px) {
	.videoSlider {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 576px) {
	.header {
		font-size: 32px;
		padding: 0 16px;
	}

	.worksHeader {
		top: 4px;
	}

	.worksHeader a {
		font-size: 18px;
	}

	.innerWorks {
		padding: 32px;
	}

	.videoContainer video {
		height: 360px;
	}

	.sliderArrowRight {
		right: 2px;
	}

	.sliderArrowLeft {
		left: 2px;
	}
}
